:root{
  --vert: #32c788;
  --greybg:#f7f7f7;
  --blue: #092c3f;
  --color-text: #57667e;
  --text:#bcc1c9;
}
.bg-contact{
    
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../imagepub/contactbg1.jpg") ;
    background-position-y:top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    height:135vh;
    
  }
.contact{
  padding-top:12rem;

}
  .bg-form{
      max-width:470px;
  }

 .bg-form .formcontact {
   background-color: rgba(255, 250, 250, 0.2);
    /* background-color: rgba(39, 41, 46, 0.7)!important; */
    /* border:2px solid var(--blue); */
    /* background-color: transparent; */
    margin-bottom:1rem
   
  }
  input .formcontact .form-control::placeholder{
    color:var(--blue);
  }

  /* .formcontact .form-group{
    margin-bottom:10rem;
    
 } */

  .DonnéContact{
    max-width:500px;
    text-align: left;
    /* padding-top:3rem; */
    color:var(--text)  
  }
  .DonnéContact div i{
    color:var(--vert);
    margin-left:-1rem;
    font-size: 1.2rem;
  }

  .DonnéContact h4{
    color:var(--text)
  }

  .footer-social-link a i {
    width: 35px;
    border-radius: 20%;
    text-align: center;
    line-height:35px;
    color: var(--text);
    background-color: rgba(3, 3, 3, 0.2);
  
  }

  /* h6 ,h5, h4,h3{
    color:var(--blue);
    line-height: 1.5rem;
    font-family: 'Poppins', sans-serif;
  } */

  .btn-blue-normal{
    background-color: var(--blue);
  }

  .btn-blue-normal:hover{
    background-color: transparent;
    border:2px solid var(--blue);
    color:var(--blue);
  }


  .coordonnés{
    color:var(--text);
    font-size:1.3rem;
    line-height: 2rem;
    font-family: 'cursive', sans-serif;

  }