


:root{
    --vert: #32c788;
    --greybg:#f7f7f7;
    --blue: #092c3f;
    --color-text: #57667e;
    --text:#bcc1c9;
}  


.bannerexpert{
    background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("../imagepub/expert.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:1rem;
    font-weight: 500;
    min-height: 360px;
  
   }

   .max-height1{
    margin-top:-2.5rem;
    color:black;
 
  }

   .searchInput{

    border-bottom-left-radius: 1.6rem;
    padding:1rem;
   }



   .btn-select{
    border-top-right-radius: 1.6rem;
    background-color: var(--vert);
    color:var(--blue);
    font-weight:600;
    width:auto;

   }

   .expert{
    padding: 3rem 2rem ;
    background-color: #092c3f;
    border-radius: 1.6rem;
   
   }


h1{
color:var(--greybg);
}
 

.Sidebar-RDV{
    border: 1px solid rgb(235, 230, 230);
    /* box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    box-sizing: border-box; */
    height:75vh;
    padding:0px;
    /* position:sticky;
    top:20; */
}
.asideRDV{
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    font-size:21px;
     
}

.bg-vert2{
    background-color: var(--vert);
    border-radius: 5px;
    color:var(--blue);
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    font-size:21px;

}

.donéexpert{ 
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    line-height: 2.5rem;
    font-weight: bolder;


}
