:root{
  --vert: #32c788;
  --greybg:#f7f7f7;
  --blue: #092c3f;
  --color-text: #57667e;
  --text:#bcc1c9;

}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans:ital,wght@0,300;1,400&display=swap');
body{
  background-color:var(--greybg);
  overflow-x: hidden; 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* .nav.navbar{
  margin-bottom: 10px;

} */
.nav.navbar.navbar-expand-lg{
    background-color: var(--blue);
    padding: 0.2rem 0rem;

   }
   .navbar-dark .navbar-nav .nav-link link{
     color:var(--vert)
   }

a, a.navlink{
  font-size: 0.9rem;
  padding: 1.4rem ;
  color:var(--greybg);
  text-decoration: none;
  font-size:0.9rem;
  
}

a.navlink:hover{
color:var(--vert);
}
a:hover{
  color:var(--vert)
  
}

.logoVert{
  color:var(--vert)
}
   
   /* .navbar-light .navbar-nav a{
    font-size: 1rem;
    padding-right: 1.4rem;
    color:white;
  } */
   a.navbar-brand{
    color:var(--vert);

  }


  /*--------------style banner home-------*/
.banner{
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("../imagepub/bg1.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top:2.8rem;
  font-weight: 500;
  min-height: 90vh;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  box-sizing: border-box;
}

 .text-banner{
  /* letter-spacing: .04em; */
  font-size: 2.5rem;
  font-weight:600;
  color:#092c3f;
  text-align: left;
  padding-right:3rem;
  font-family: 'Bebas Neue', cursive;
  padding-top:4rem;
 
}


 .max-height{
   margin-left: 3rem;
   margin-top:7rem;

  
 }


 .iconservice{
   color:var(--vert);
   margin-bottom: 1rem;
   padding:2rem;
   border-radius:50%;
   background-color:var(--greybg) ;
 }


 .text-blue{
   color:var(--blue);
   font-size: 1rem;
   text-align: center;
 }

 .text-vert{
   color:var(--greybg);
   font-size: 1rem;
   text-align: center;
 }
 .text{
  text-align: left;
 }

 
  .Cardhover{
    color:var(--color-text);
    font-family: "Poppins",sans-serif;
    font-size: 1rem;
    text-justify: auto;
    border-bottom-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-top:5px solid var(--vert);
    border-bottom:5px solid var(--vert);
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
  
  }
 .Cardhover:hover{
   color:white!important;
   font-size: 1rem;
   transform: translatey(-5px);
   background-color: var(--vert);

   border-bottom-left-radius: 1.2rem;
   border-top-right-radius: 1.2rem;
   border-top:5px solid var(--vert);
   border-bottom:5px solid var(--vert);

   box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
 }


 .Cardhover1{
  font-family: "Poppins",sans-serif;
  color:white!important;
  font-size: 1rem;
  transition-duration:1s;
  background-color: var(--vert);
  border-bottom-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  border-top:5px solid var(--vert);
  border-bottom:5px solid var(--vert);
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;

 }
 .Cardhover2{
  font-family: "Poppins",sans-serif;
  color:var(--text);
  font-size: 1rem;
  background-color: var(--blue);

 }

 .section-padding{
   margin-top:6rem;
   margin-bottom: 6rem;
   padding:0;
   box-sizing: border-box;
   /* clip-path: polygon(0 0, 100% 0%, 100% 56%, 0% 100%); */

 }
.subtitle{
  text-align: left;
color:var(--blue) ;
  font-family:'Bebas Neue','cursive';
  letter-spacing: .04em;
  font-size: 2.5rem;
  font-weight:200;
  margin-left:5rem;
  padding-left:2rem;
  border-left: 5px solid #32c788;
  margin-bottom: 3.5rem;
  
}


.bg-blue{
  background-color: var(--blue);
  /* clip-path: polygon(0 10%, 100% 0%, 100% 89%, 0 100%); */
  /* clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */



  
}

/* Background section rejoindre*/
.bg-vert{
  /* background-color: var(--vert); */
  min-height: 40vh;
  background-image: url("../imagepub/endless.svg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  letter-spacing: 0.2rem;
  /* clip-path: polygon(0 10%, 100% 0%, 100% 89%, 0 100%); */


}

/* style section A propos*/
.Apropos{
  font-size: 2.5rem;
  font-weight:400;
  color:var(--blue);
  font-style: italic;
  
  font-family: 'Bebas Neue', 'cursive';

}

.Apropos-text{
  color:var(--blue);
  font-size: 1.2rem;
  font-family:'cursive';
  margin: 2rem 0rem 3rem 0rem;
  text-justify: left;
}


.border{
  border-top:5px solid var(--vert);
  border-bottom:5px solid var(--vert);

  border-bottom-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
}


.btn-blue{
  background-color: var(--blue);
  border-bottom-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
}
.btn-blue:hover{
background-color: transparent;
border:2px solid var(--blue);
color: var(--blue);
}


.btn-outline-success{
  border-bottom-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
  font-size:0.8rem;
  border:2px solid var(--vert);
  background-color: transparent;
  color: white;


}


.btn-success{
  background-color: var(--vert);
  border-bottom-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;

}
.bg-white{
  background-color: #f7f7f7;
  padding:4rem 0rem;
  /* clip-path: polygon(0 10%, 100% 0%, 100% 89%, 0 100%); */

}


 /* .img-about{

  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  
}  */



/* partenaire */
.img-partenaire{
  height:90px;
  width:130px;
  filter: grayscale(0.5);
}

.img-partenaire:hover{
  filter: grayscale(0.0);
}



/*style sidebar*/

nav.sidenav---sidenav---_2tBP {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1006;
  min-width: 64px;
  background: var(--vert);
  transition: min-width 0.2s;
  color:var(--blue);
 
  
}



/*button edit*/
.btn-edit{
  background-color: var(--vert);
}
