
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');



:root{
    --vert: #32c788;
    --greybg:#f7f7f7;
    --blue: #092c3f;
    --color-text: #57667e;
    --text:#bcc1c9;
  }
  
  .tiretbottom{
    background-color:var(--vert);
    height:3px;
    width:3rem;
    margin-bottom:1rem;
  }
  
  /*-style social links ----------*/

  .footer-social-link ul {
    list-style-type: none;}
  .footer-social-link li {
   
  
    display: inline-block; }
  .footer-social-link a i {
    width: 30px;
    border-radius: 20%;
    text-align: center;
    line-height: 30px;
    color: var(--text);
  
  }
  
  .footer-social-link a i.fa-facebook:hover{
    background-color: #2149a0;
    color:white;
  }
  .footer-social-link a i.fa-twitter:hover {
    background-color: #55ACEE; 
    color:white;
  }
  .footer-social-link a i.fa-youtube:hover {
    background-color: #b12816; 
    color:white;
  }
  .footer-social-link a i.fa-linkedin-in:hover {
    background-color: #0e76a8; 
    color:white;}
  .footer-social-link a i.fa-instagram:hover {
    background-color: #B7242A; 
    color:white;}
  



/*---------------------style footer----------------*/
.bgfooter{
    background-image: url("../imagepub/footer_bg.jpg");
    background-repeat: no-repeat;
    background-position:top;
    background-attachment: fixed;
    padding:0rem 2rem;
    background-size: cover;
    min-height: 420px;
    padding-top: 60px;
    color: white;
    margin:0;
  
  }

  .logo{
    color:var(--greybg);
    font-family: "Poppins",sans-serif;
    font-size: 2rem;
  }

  .vert{
    color:var(--vert);
    font-size: 2rem;
  }
  
  .bgfooter a, .bgfooter h6{
    text-decoration: none;
    color:var(--greybg);
    margin-bottom: 1.2rem;
    font-family: 'Poppins', sans-serif;

    text-align: left;
  }

    .bgfooter h5 {
    color:var(--vert);
    /* border-left:4px solid var(--vert); */
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    /* margin-left:10px */
    }

    .bgfooter ul li{
      list-style: none;
      color:var(--greybg);
      margin-bottom: 1.2rem;
      font-family: 'Poppins', sans-serif;
  font-weight: 300;
      text-align: left;
    }
   
    .bgfooter ul li a{
      font-size:16px;

    }
    /* #search-item{
    
      padding:1.3rem 2rem;
     
      background: rgba(34, 32, 32, 0.5) ;
      border: none;
      border:0.5px groove white;
    
    }

 
  
    #search-item:focus{
      border:1px solid white;

    } */
  
    .newletter-btn{
      border-top-right-radius: 1.8rem;
      background-color: var(--vert);

     }
  .bgfooter .justify-text-left{
    text-align: left;
  }

  .searchInput{width:100%;}

  .footer-newsletter input .searchInput .form-control{

    background:var(--greybg) ;
    border: none;
    border:0.5px groove rgba(34, 32, 32, 0.5);
    padding:1.3rem 2rem;

  }