.bannerpub{
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url("../imagepub/bg3.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:0.8rem;
    font-weight: 500;
    position:relative;
    min-height: 70vh;
  
   }

   